* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.slidescontainer {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
 .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.sildecaption-container {
  text-align: center;
  background-color: #222;
  padding: 1px 16px;
  color: white;
 }

.silderow:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.sildecolumn {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.sildecard-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1px;
}

.sildecard {
}

.sb-4,
.sy-4 {
  margin-bottom: 1.5rem !important;
}


/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    height: 500px;
}

.toptab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
}


/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}


.tablinks .hover {
    background-color: #ddd;
}

.tablinks .active {
    background-color: #ccc;
}


.tabfont {
    font-color: #454545;
}